.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  color: #212121b2;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  cursor: pointer;
  transition: opacity 1s;
  width: 108px;
  height: 16px;
  padding: 0;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__edit {
  width: 120px;
  height: 20px;
  margin-right: 8px;
  transition: opacity 1s;
}

.profile__post-btn {
  margin-left: auto;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: #fff;
  width: 149px;
  height: 52px;
  padding: 0;
  gap: 8px;
  cursor: pointer;
  align-self: flex-end;
  transition: opacity 1s;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}

.profile__post-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__description {
    font-size: 16px;
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 0;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .profile__edit {
    width: 100%;
    margin-right: 8px;
  }

  .profile__post-btn {
    margin: 0;
    width: 100%;
    font-size: 16px;
  }
}
